.container {
    width: auto;
    height: 100%;
    padding: 8px 12px 8px 24px;
    margin: 10px 0;
    border-radius: 15px;
    display: inline-block;
    cursor: pointer;
    color: #32124c;
    border: 2px solid white;
    background-color: white;
}
.container:hover {
    background-color: #efefef;
}
.container span {
    margin-left: 6px
}