.container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.topSection,
.bottomSection {
    flex: 1%;
}
.content {
    flex: 98%;
}

