.container {
    width: 100%;
    height: 30px;
    padding: 0;
    margin: 0;
    display: flex;
}
.col_98 {
    flex: 98%;
}
.col_1 {
    flex: 1%;
}
.iconAlignment {
    cursor: pointer;
    line-height: 30px;
}
